<!-- {{monsterName}}
<button [disabled]="!monsterName" (click)="randomValue()">click me</button>
<p *ngIf="monsterValue">{{monsterName}} {{monsterValue}}</p> 
<button type="button" ></button> -->



<!-- <input type="text" [(ngModel)]= "hero.name" placeholder="Enter Hero Name" *ngIf="!hero.power">
<button type="button" (click)="generateHeroPower()" [disabled]="!hero.name" *ngIf="!hero.power">Select</button>
<p *ngIf="monsterSelected.monsterPower">{{ monsterSelected.monsterName }} has a power of {{ monsterSelected.monsterPower }}</p>
<button type="button"
[disabled]="!monsterSelected.monsterName"
(click)="generatePower()">Generate Power</button>
<p>Selected Monster: {{ monsterSelected.monsterName }}</p> -->

<monster></monster>
<hr>


<p>All monsters:</p>
<ul>
  <li *ngFor="let monster of monsters" [ngStyle]="{'background-color': hero.power ? (monster.monsterPower > hero.power ? 'red': '') : ''}">
    {{monster.monsterName}} has {{monster.monsterPower}} power!
  </li>
</ul>

<p *ngIf="hero.power">The power {{hero.name}} hero is {{ hero.power }}</p>


